body{
    margin: 0;
    padding: 0;
    background-image: url(assets/home.png);
}
/* general */
.app{
    display: flex;
    gap: 20px;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
}

/* cards */
.ancients-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    min-width: 30%;
    height: 100%;
    padding: 20px;
}
.ancients-card{
    height: 260px;
    width: 200px;
    padding: 20px;
    cursor: pointer;
}
.ancients-card img{
    height: 260px;
    width: 200px;
}
/* difficulty */
.difficulty-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    justify-content: center;
}
.difficulty{
    border: 2px solid white;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    padding: 5px;
    text-align: center;
    margin: 10px;
}
.difficulty-container-hidden{
    visibility: hidden;
}
.difficulty-container-open{
    visibility: visible;
}
/* deck */
.close-deck{
    display: none;
}
.open-deck{
    display: block;
}
.deck-container{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    min-width: 30%;
}
.shuffle-button{
    border: 2px solid white;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    padding: 5px;
    text-align: center;
    margin: 10px;
}
.shuffle-button-hidden{
    display: none;
}
.shuffle-button-open{
    display: block;
}
.current-stage{
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-height: 30%;
}
.stage-text{
    color: white;
}
.dots-container{
    align-items: center;
    display: flex;
    gap: 20px;
    justify-content: center;
}
.dot{
    align-items: center;
    border-radius: 50%;
    display: flex;
    height: 30px;
    justify-content: center;
    width: 30px;
}
.green{
    background-color: green;
}
.brown{
    background-color: brown;
}
.blue{
    background-color: blue;
}
.deck{
    background-image: url(assets/mythicCardBackground.png);
    height: 190px;
    width: 130px;
    margin: 20px;
}